<form>      
  <input name="name" type="text" class="contact" placeholder="Name" />   
  <input name="email" type="text" class="contact" placeholder="Email" />
  <textarea name="text" class="contact" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT"/>
</form>

