
<html>
<head>
  <title>Myapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'landing_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="footer">
				<div class="contactus">
                    <h2 class"title"> Contact us </h2>
					<i class="Adress"></i>
					  <p><span>20000 - Casablanca,
						 Bloc. No. A - 1, Sector - 1</span>
						Morocco</p>
					<i class="phone"></i>
					<p>+21263666666</p>
				
					<i class="Email"></i>
					<p><a href="mailto:support@eduonix.com">support@dsg.com</a></p>
				</div>
			
			<div class="Desc">
				<p class="company-about">
					<H2>About the company</h2>
					We offer Technology, Design, Management, Science services.</p>
				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i> facebook</a>
					<a href="#"><i class="fa fa-twitter"></i> twitter</a>
					<a href="#"><i class="fa fa-instagram"></i> instagram</a>
					<a href="#"><i class="fa fa-linkedin"></i>linkedin</a>
					
				</div>
			</div>