

<nav id="nav">
<h1>DSC</h1>
  <div id="menu">
    <ul>
    <li><%= link_to "Home","/home"  %></li>
      <li><%= link_to "About","/home#about"  %></li>
      <li><%= link_to "Services","/services"  %></li>
      <li><%= link_to "Contact-Us","/contact"  %></li>
    </ul>
  </div>
</div>
</nav>

<div style="height:400px;color:white;font-weight:800"class="banner"> 
<center style="padding-top:180px">
    <span> Trusted </span><br>
    <span> ★★★★★ </span>

  <h3>  Welcome!</h3>

   <h2>We ARE THE AGENCY THAT SIMPLIFIES LIFE <h2>

   <h4>More than 270 organizations have trusted us to develop their brand and support their projects.</h4>

</center>

</div>
